@import "reset";
@import "breakpoints";
@import "variables";
@import "anchors";
@import "navbar";

.green{

  right: 0,
 
}


.heroContainer{
  margin-top: 0px;
  @include breakpoint(md){
    margin: 80px 5%;
    
}
}
.range-container{
background: $primary;
  
  padding: 5vw;
  color: white;
  @include breakpoint(md){
    padding: 120px 15vw; 
  }
  
  

  p{
    color: white;
  }
}
.slideshow-btn{
  font-size: 35px; 
  cursor: pointer;
   color: white; 
   border: none;
   margin-top: -60px; 
  background: blue; 
  height: 70px;
   margin: 0;
   width: 100%;
}

.hero-description{
  padding: 1em ;
  @include breakpoint(md){
    padding: 1em 5% 0 5em;  
}

h1{
  padding:.5em 0;
  @include breakpoint(md){
    padding: 0 150px .5em 0;
}
}
p{
  padding: 1em 0 2em;
  @include breakpoint(md){
    padding: 0 100px 1em 0; 
}
}
}
.butterfly-image{
  max-width: 500px;
  
    @include breakpoint(md){
   padding: 0 50px;
    max-width: 1000px;
}
  
}
.life{
  color: white;
  padding: 50px 5% 50px;
  h2{
    font-size: 40px;
    padding: 20px;
  }
  p{
    text-align: left;
  }
}
  
.row{
  display: flex;
  flex-direction: column;
  width: 100%;
  @include breakpoint(md){
    flex-direction: row;
}
}
.row-reverse{
  display: flex;
  flex-direction: column;
  width: 100%;
  @include breakpoint(md){
    flex-direction: row-reverse;
}
}
  
.responsive-half{
 width:100%;
  @include breakpoint(md){
    width:50%;
}
}

.jumbotron{
  background: white;
  height: auto;
  margin: 0;

 

}
/* The animation code */
@keyframes line {
  from {width: 1%;}
  to {width: 90%;}
}
.text-center{
  text-align: center;
}

.title-line{
  width: 90%;
  animation-name: line;
  animation-duration: .5s;
}
.App {
  text-align: center;
}
.flex{
  display: flex;
  
}
.text-center{
justify-content: center;
}

.carousel-item{
  height: auto;
  @include breakpoint(md){
  height: 60vh;
   }
}
.carousel-caption{
top: 50px;
@include breakpoint(md){
 top: 25%;
}
}



.box-container{
  display: flex;
  flex-direction: row;  
 
.box{
  padding: .15em;
  display: flex;
   flex-direction: column; 
   justify-content: space-between;
    border: solid 2px $primary; 
    width:110px;     
     margin:.15em;
     @include breakpoint(md){
      padding: .5em;
      width:120px;
      margin: .5em
     }
     
     h4{
       font-size: 20px;
       color: $primary;
     }
     p{
       font-size: 18px;
       color: black;
       padding: .5em 0;
     
     }
}


}


.blog-roll{
  display: flex;
  flex-wrap: wrap;
}
.blog-article-roll{
width: 100%;
  @include breakpoint(md){
  width: 45%;
  margin:20px;
  }

}
 .is-featured{
 width: 100%; 
}



.cycle-card{
  
  padding: 2em;
  @include breakpoint(md){
  margin: 50px 2em 0;
 
  }
  img{
    padding: 2em 0;
  }
}


.container{
  padding: 0;
}