@import "./reset";
@import "~bootstrap/scss/bootstrap";
@import "./breakpoints";
@import "./variables";
@import "./anchors";
@import "./navbar";




.heroContainer{
  margin-top: 10vh;
}

.hero-description{
  padding: 1em;
}
.butterfly-image{
  max-width: 500px;
    @include breakpoint(md){
    margin-top: 80px;
    max-width: 1000px;
}
  
}
.life{
  color: white;
  padding: 50px 5% 50px;
  h2{
    font-size: 40px;
    padding: 20px;
  }
  p{
    text-align: left;
  }
}
  
.row{
  flex-direction: column;
  @include breakpoint(md){
    flex-direction: row;
}
}

.jumbotron{
  background: white;
  height: auto;
  margin: 0;

 

}
/* The animation code */
@keyframes line {
  from {width: 1%;}
  to {width: 90%;}
}


.title-line{
  width: 90%;
  animation-name: line;
  animation-duration: .5s;
}
.App {
  text-align: center;
}
.flex{
  display: flex;
  
}
.text-center{
justify-content: center;
}

.carousel-item{
  height: auto;
  @include breakpoint(md){
  height: 60vh;
   }
}
.carousel-caption{
top: 50px;
@include breakpoint(md){
 top: 25%;
}
}



.box-container{
  display: flex;
  flex-direction: row;  
 
.box{
  padding: .15em;
  display: flex;
   flex-direction: column; 
   justify-content: space-between;
    border: solid 2px $primary; 
    width:110px;     
     margin:.15em;
     @include breakpoint(md){
      padding: .5em;
      width:150px;
      margin: .5em
     }
     
     h4{
       font-size: 20px;
       color: $primary;
     }
     p{
       font-size: 18px;
       color: black;
     }
}


}


.blog-roll{
  display: flex;
  flex-wrap: wrap;
}
.blog-article-roll{
width: 100%;
  @include breakpoint(md){
  width: 45%;
  margin:20px;
  }

}
 .is-featured{
 width: 100%; 
}



.cycle-card{
  
  padding: 2em;
  @include breakpoint(md){
  margin: 50px 2em 0;
 
  }
  img{
    padding: 2em 0;
  }
}


.container{
  padding: 0;
}